*{
    background-color: #ffd8d0;
}
h1{
    color: #4d302b;
    font-family: Arial;
    font-style: oblique;
    background-color: #d3aea7;
    text-align: center;
    text-decoration: underline wavy;
}

#t1{
    color:#7a5a54;
    font-family: Helvetica;
    text-decoration: underline;
    font-style: italic;
}
.cv{
    color: #4d302b;
    font-family: Arial;
    font-style: oblique;
    background-color: #d3aea7;
    text-align: center;
    text-decoration: dashed underline;
}
img[src="figs/fig1.jpg"]{
    text-align: center;
}
.foto{
    text-align: center;
}
a:hover{
    color: #a6847e;
}